In [ ]:
Pandas Cheat Sheet 
    [reading csv, cleaning data, indexing, calculations, visualizations]

In [ ]:
Reading CSV

In [ ]:
pd.read_csv - reads csv file 
pd.read_csv(csvpath, header=none) - reads csv file without the header

In [ ]:
infer_datetime_format=True - Pandas will infer the format of the datetime strings in column (speeds up parsing process)

In [ ]:
inplace=True - modifies the DataFrame in place, without returning a new DataFrame. Original DataFrame is changed directly.

In [ ]:
parse_dates=True - instructs Pandas to automatically parse columns as datetime objects

In [ ]:
df.head() - shows first 5 rows of dataframe, or however many specific(10)

In [ ]:
df.tail() - shows last 5 rows of dataframe

In [ ]:
df.rename() - ranames value

In [ ]:
df.first() - take the first value

In [ ]:
df.last() - take the last value

In [ ]:
df.mean() take the average of rows

In [ ]:
df.count() count number of rows

In [ ]:
df.sum() - add up all values

In [ ]:
df.shape - number of columns and rows in dataframe

In [ ]:
df.groupby('value') - groups data by specific 'value'

In [ ]:
multi_group = df.groupby(['name','data_priceUsd'])['data_priceUsd'].count()

In [ ]:
df = df.groupby([df.index.year, df.index.month, df.index.day]).first() - group by (year, month, day) take first value of each group

In [ ]:
df.sort_values('price', ascending=False) - sorts datframe according to price in descending order

In [ ]:
df. = df.set_index("value") - sets 'value' as the index

In [ ]:
df.sort_index(ascending=False) - sorts dataframe by index in descending order

In [ ]:
col_names = [[]] - defines column names
df.columns = col_names - adds column names

In [ ]:
df.drop(columns=['Date'], inplace=True - drop extra date column

In [ ]:
df.describe(include='all') - describe summary statistics for dataframe - describes summary of statistics

In [ ]:
df['string_Split'].str.spit(' ', expand=True) - strings into their separate columns

Data Cleaning

In [ ]:
pd.csv_reader(csv_path, index_col='order_no') - indexes dataframe by 'data' colomn

In [ ]:
df.sample() - takes a sample

In [ ]:
df.dtypes()- identify datatypes

In [ ]:
df.count() - identify number of rows

In [ ]:
df['data'].value_counts() - counts frequency within 'data' columns

In [ ]:
df.isnull() - checks for null values

In [ ]:
df.isnull().mean() * 100 - calculates percentage of nulls

In [ ]:
df.isnull().sum() - calculates number of nulls

In [ ]:
df['data'].fillna['csv_data'] - fills missing values with 'value'

In [ ]:
df.dropna() - drops missing values from dataframe

In [ ]:
df.duplicated() - checks for duplicates in dataframe

In [ ]:
df['data'].duplicated() - check duplicates for specific field

In [ ]:
df['data'].str.replace('$', ' ') - replaceing currency symbols

In [ ]:
df.drop_duplicated().copy() - drop duplicates

In [ ]:
df['data'].astype('float') - convert data value from object to float

In [ ]:
filters rows
term_df = filtered_df.loc[filtered_df['term'] == '36 months'].copy()
- creates a new DataFrame term_df containing only the rows from filtered_df where the value in the term column is '36 months'.

In [ ]:
Modify row values 
term_df.loc[term_df['term'] == '36 months', 'term'] = '3 Years'
- Change row values within the 'term' column from '36 months' to '3 Years'

In [ ]:
Change row values
term_df.loc[term_df['emp_title'].isnull(), 'emp_title'] = 'Unknown'
- Change row values within the 'emp_title' column from NaN to 'Unknown'

Indexing Data

In [ ]:
df.iloc(0) - select the first row of dataframe

In [ ]:
df.iloc(1) - slelct the second row of dataframe

In [ ]:
df.iloc(0:10) - select first ten rows of dataframe

In [ ]:
df.iloc(-1) - select last from of dataframe

In [ ]:
df.iloc[:,0].head() - select first collum of dataframe

In [ ]:
df.iloc[:,1].head() - select second column of dataframe with all rows

In [ ]:
df.iloc[:,-1].head() - select last column of dataframe with all rows

In [ ]:
df.iloc[:, 0:2].head() - select first two colums with all rows

In [ ]:
df.iloc[0,4,7,21], [0,3,5] - select 1st, 5th, 8th, 22nd row of the 1st, 4th, and 6th columns

In [ ]:
df.iloc[0:5, 2:5] - select first 5 rows of 3rd,4th,5th column

In [ ]:
df.iloc[0, df.columns.get_loc('data') = 'value'
- Modify the 'data' column value of the first row

In [ ]:
df.set_index(csv_data["data"], inplace=True - sets 'data' as the index

In [ ]:
df.set_index(pd.to_datetime(df["Date"], infer_datetime_format=True) inplace=True
-convert date strings into objects and set the datetime as the index

In [ ]:
df.sort_index() - sort the index

In [ ]:
df.loc['name'] - select row with index 'name'

In [ ]:
df.loc['name1':'name'].head() - slice the data to ouput range of rows

In [ ]:
df.loc[csv_data['column'] == 'M'].head() - filter rows based on a column value conditional

In [ ]:
df.loc['Yun', 'first_name'] = 'Yuna' - Modify 'column' value of the row with index

In [ ]:
df.concat([], Axis='row/column, join='inner/outer') 
- concatenate data into a single datafrome either by rows (0) or column (1). 'inner' keeps only the common indexes while 'outer' keeps all indexes

Data Visualization

In [ ]:
df.pct_change() - calculate percent change

In [ ]:
df.plot()

In [ ]:
grouped_data = df.groupby('name')['value'].plot(legend=True) - plots grouped data

In [ ]:
df.plot(kind='bar') - plot bar chart of data

In [ ]:
df.plot(kind='bar', figsize=(20,10)) - bar chart with incresed figure size
- plot data with increased figure size to see x-axis labels

In [ ]:
daily_returns = (csv_data - csv_data.shift(1)) / csv_data.shift(1)
-  calculates the daily returns of a financial time series, typically stock prices, in a pandas DataFrame

In [ ]:
df.shift() -  This method shifts the index of the DataFrame by the specified number of periods (1 in this case)
- moves all data down by one row, essentially aligning each row with the previous days data.

In [ ]:
cumulative_returns = (1 + daily_returns).cumprod()
- is used to calculate the cumulative returns of a financial time series using pandas

In [ ]:
cumulative_returns = (1 + daily_returns).cumprod()
df.cumprod()- method stands for cumulative product. It computes the cumulative product of the elements along a given axis

In [ ]:
- Filter down to 20 companies with the largest market caps
top_20_market_cap = market_cap.nlargest(20, 'Market Cap')

In [ ]:
daily_std = daily_data.std() - calculate daily standard deviations

In [ ]:
daily_std = daily_std.sort_values(ascending=False) - sort by descending order, highest risk-lowest risk

In [ ]:
np.random.normal() - random number geberator following a noraml (gausian) distribustion
('loc'= center of ditribution) ('scale'= spread or 'width') ('size'= shape of the output array)

In [ ]:
np.sqrt() - calcualte square root

In [ ]:
portfolio_std.plot.hist(stacked=True, bins=100) - plot histogram w/ stackd bars and 100bins

In [ ]:
portfolio_std.plot.box() - generates a box plot of data

In [ ]:
Calculate sharpe ratios
sharpe_ratios = ((all_portfolios_returns.mean()-all_portfolios_returns['rf_rate'].mean()) * 252) / (all_portfolios_returns.std() * np.sqrt(252))

In [ ]:
sharpe_ratios.plot(kind="bar", title='Sharpe Ratios') - plot sharpe ratios

In [ ]:
.nlargest(20, 'Market Cap')

In [ ]:
tsla_data['7_day_mean'] = tsla_data['close'].rolling(window=7).mean()
- calculates the 7-day rolling meano of an asset

In [ ]:
.cov() - covriance 
covariance = daily_returns['stock'].cov(daily_returns['market'])
 - measures how two variables cove in relation to eachother

In [ ]:
.var() - variance

In [ ]:
beta = covariance / variance