Pandas Cheat Sheet 
    [reading csv, cleaning data, indexing, calculations, visualizations]

In [ ]:
Reading CSV

In [ ]:
pd.read_csv
pd.read_csv(csvpath, header=none)

In [ ]:
df.head()

In [ ]:
df.tails()

In [ ]:
col_names = [[]]
df.columns = col_names

In [ ]:
df.describe(include='all') - descride summary statistics for csv data

In [ ]:
df.rename()

In [ ]:
dataframe["string_Split"].str.spit(" ", expand=True) - strings into their separate columns

In [ ]:
dataframe = dataframe.drop(colums=["name"])

Data Cleaning

In [ ]:
(csv_path, index_col="order_no") - index by" "

In [ ]:
csv_data.sample() - take a sample

In [ ]:
csv_data.dtypes - identify datatypes

In [ ]:
csv_data.count() - identify number of rows

In [ ]:
csv_data["data_value"].value_counts() - Identify frequency

In [ ]:
csv_data.isnull() - check for null values

In [ ]:
csv_data.isnull().mean() * 100 - percentage of nulls

In [ ]:
csv_data.isnull().sum() - number of nulls

In [ ]:
csv_data["data value"].fillna["csv_data"] - filling nan

In [ ]:
csv_data.dropna().copy() - dropping nan from dataframe

In [ ]:
csv_data.duplicate() - check for duplicates

In [ ]:
csv_data["data value"].duplicate() - check duplicates for specific field

In [ ]:
csv_data["data value"].str.replace("$", "") - replaceing currency symbols

In [ ]:
csv_data.drop_duplicates().copy() - drop duplicates

In [ ]:
csv_data["data value"].astype("float") - covert data value from object to float

In [ ]:
filter rows
term_df = filtered_df.loc[filtered_df['term'] == '36 months'].copy()
- In summary, this line creates a new DataFrame term_df containing only the rows from filtered_df where the value in the term column is '36 months'.

In [ ]:
modify row values 
term_df.loc[term_df['term'] == '36 months', 'term'] = '3 Years'
- Change row values within the 'term' column from '36 months' to '3 Years'

In [ ]:
term_df.loc[term_df['emp_title'].isnull(), 'emp_title'] = 'Unknown'
- Change row values within the 'emp_title' column from NaN to 'Unknown'

Indexing Data

In [ ]:
.iloc(0) - select the first rows of dataframe

In [ ]:
.iloc(1) - slelct the seconf row of dataframe

In [ ]:
.iloc(0:10) - select first ten rows of dataframe

In [ ]:
.iloc(-1) - select last from of dataframe

In [ ]:
.iloc[:,0].head() - select first collum of dataframe

In [ ]:
.iloc[:1].head() - select second colimn of dataframe with all rows

In [ ]:
.iloc[:,-1].head() - last column of dataframe with all rows

In [ ]:
.iloc[:, 0:2].head() - select first two colums with all rows

In [ ]:
.iloc[0,4,7,21], [0,3,5] - select 1st, 5th, 8th, 22nd row of the 1st, 4th, and 6th columns

In [ ]:
.iloc[0:5, 2:5] - select first 5 rows of 3rd,4th,5th column

In [ ]:
.iloc[0, csv_data.columns.get_loc('first_name'] = 'Arya'
- Modify the 'first_name' column value of the first row

In [ ]:
.set_index(csv_data["first name"], inplace=True

In [ ]:
.sort_index() - sort the index

In [ ]:
.loc["name"] - select row with index "name"

In [ ]:
.loc["name1":"name"].head() - slice the data to ouput range of rows

In [ ]:
.loc[csv_data["column"] == 'M'].head() - filter rows based on a column value conditional

In [ ]:
.loc['Yun', 'first_name'] = 'Yuna' - Modify "column" value of the row with index

Data Visualization

In [ ]:
.set_index(pd.to_datetime(csv_data["Date"], infer_datetime_format=True) inplace=True
-convert date strings into objects and set the datetime as the index

In [ ]:
.drop(columns=['Date'], inplace=True - drop extra date column

In [ ]:
csv_data.plot()

In [ ]:
.plot(kind='bar') - plot bar chart of data

In [ ]:
.plot(kind='bar', figsize=(20,10)) - bar chart with incresed figure size
- plot data with increased figure size to see x-axis labels

In [ ]:
daily_returns = (csv_data - csv_data.shift(1)) / csv_data.shift(1)
-  calculates the daily returns of a financial time series, typically stock prices, in a pandas DataFrame

In [ ]:
.shift() -  This method shifts the index of the DataFrame by the specified number of periods (1 in this case)
- moves all data down by one row, essentially aligning each row with the previous day's data.

In [ ]:
.pct_change() - calculate percent change

In [ ]:
cumulative_returns = (1 + daily_returns).cumprod()
- is used to calculate the cumulative returns of a financial time series using pandas

In [ ]:
cumulative_returns = (1 + daily_returns).cumprod()
. cumprod()- method stands for cumulative product. It computes the cumulative product of the elements along a given axis

In [ ]:
- Filter down to 20 companies with the largest market caps
top_20_market_cap = market_cap.nlargest(20, 'Market Cap')